@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./animations.css";
@import "./ember-cli-prosemirror.css";
@import "./menu.css";
@import "./variables.css";

body, html {
    width: 100%;
    height: 100%;
    background-color: #5766f2;
}

* {
    min-width: 0;
}

.app {
    @apply flex text-white;
    position: relative;
    height: 100%;
    width: 100%;
}

.base {
    @apply flex flex-grow;
    min-width: 0;
}

.server-menu {
    @apply flex flex-col flex-none relative;
    background-color: #202225;
    width: 72px;
}

.content-menu {
    @apply flex flex-col;
    width: 240px;
    background-color: #2f3136;
}

.content-menu-main {
    @apply flex flex-1 flex-col;
    min-height: 0;
    min-width: 0;
}

.content {
    @apply flex-grow flex-1 flex;
    background-color: #363a3e;
    min-width: 0;
    min-height: 0;
}

.invite {
    @apply flex-1;
}

.main-content {
    @apply flex-1 flex flex-col;
}

.server-link {
    @apply rounded-3xl w-12 h-12 m-3 flex items-center justify-center hover:rounded-xl transition-all duration-100 ease-linear;
    background-color: #36393f;
}

.server-link > img {
    @apply rounded-3xl w-12 h-12 transition-all duration-100 ease-linear;
}

.server-link-selected {
    @apply rounded-xl w-12 h-12 hover:rounded-xl transition-all duration-100 ease-linear;
    background-color: #5866f2;
}

.server-link-selected > img {
    @apply rounded-xl w-12 h-12 transition-all duration-100 ease-linear;
}

.channel-link {
    @apply flex content-between items-center ml-2 h-8 px-2 text-gray-400 rounded leading-4 mr-3 hover:text-gray-200 hover:bg-gray-500;
    flex: 0 1 auto;
}

.channel-link-open {
    @apply text-gray-200 bg-gray-700;
}

.channel-link-name {
    @apply flex-1;
}

.channel {
    @apply flex flex-col h-full flex-1;
}

.channel-list {
    overflow: hidden auto;
}

.message-block {
    @apply flex flex-col flex-1;
}

.channel-content {
    @apply flex flex-1 min-h-0;
}

.user-list {
    @apply flex flex-col;
    width: 240px;
    background-color: #2f3136;
}

.user {
    display: flex;
}

.user > img {
    width: 40px;
    height: 40px;
}

.channel-header {
    @apply flex flex-none relative h-12 w-full shadow font-bold;
}

.channel-header > div {
    @apply flex items-center pl-4 pr-3;
}

.channel-header > .channel-name {
    @apply flex-1;
}

.channel-header-button {
    @apply mx-2;
}

.search {
    @apply p-1 rounded;
    background-color: #202225;
}

.channel-list-top {
    @apply flex flex-none h-12 items-center shadow font-bold pl-4 justify-between pr-3;
}

.messages-list {
    @apply flex-1 overflow-y-auto overflow-x-hidden flex flex-col;
    min-width: 0;
    min-height: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.ProseMirror-separator {
    display: inline !important;
    border: none !important;
    margin: 0 !important;
}
  
::-webkit-scrollbar-thumb {
border-radius: 4px;
background-color: rgba(0, 0, 0, .5);
}

.message-box-container > .prosemirror-editor {
    @apply flex overflow-y-scroll items-center;
    min-height: 48px;
    max-height: 500px;
}

.message > .prosemirror-editor {
    @apply p-2 rounded-xl;
    background-color: #40444b;
}

.message-box {
    @apply block;
}

.message-box-attachment {
    @apply flex flex-none overflow-x-auto mx-4;
    background-color: #40454a;
}

.message-box-attachment-block {
    @apply m-2 flex items-center justify-center;
    position: relative;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    background-color: #2f3136;
}

.message-box-attachment-block > img {
    @apply flex inline-block h-full p-2;
}

.message-edit-tooltip {
    @apply text-xs;
}

.message-box-container {
    @apply ml-4 mr-4 mb-4 px-4 rounded-lg flex;
    background-color: #40454a;
}

.message-box-container-input {
    @apply text-white flex-grow focus:outline-none;
    background-color: #40454a;
}

.message-box-container-button {
    @apply flex-none mr-2 flex justify-center text-gray-400 hover:text-gray-100;
    margin-top: 14px;
}

.ProseMirror {
    @apply flex-1;
}

.message {
    @apply pr-12;
    padding-left: 72px;
}

.message-info {
    @apply mt-3;
}

.message-avatar {
    @apply absolute left-4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message-author {
    @apply text-base;
}

.message-time {
    @apply text-gray-400 text-xs;
}

.message-wrapper {
    @apply relative hover:bg-gray-600;
    padding: 2px;
}

.user-area {
    @apply h-14 flex-none p-2;
    background: #292b2f;
}

.user-area-avatar {
    @apply inline-block w-8 h-8 mr-2 ;
}

.user-area-username {
    @apply inline align-top text-sm;
}

.user-area-avatar > .avatar {
    @apply inline;
}

.tooltip-inner {
    @apply inline-block w-max font-bold text-base;
}

.avatar {
    border-radius: 50%;
}

.user {
    @apply items-center m-2;
}

.user-avatar {
    @apply w-8 mr-2;
}

.form {
    @apply text-white;
    background-color: #36393f;
}

.emoji {
    @apply inline-block;
    width: 22px;
    height: 22px;
}

.emoji-picker {
    @apply absolute right-4 bottom-20;
}

.ember-drop-zone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
}

.link {
    @apply text-blue-400;
}

.image-attachment {
    max-width: 500px;
    max-height: 375px;
}

.file-attachment {
    @apply inline-block my-1;
}

.file-attachment > div {
    @apply flex flex-1 flex-row p-2 items-center rounded;
    border-color: #292b2f;
    background-color: #2f3136;
}

.file-attachment > div > div {
    @apply flex flex-col mx-3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-attachment > div > div > div {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.code {
    @apply p-2 border inline-block rounded;
    color: #b9bbbe;
    background-color: #2f3136;
    border-color: #202225;
    max-width: 600px;
}

.date-divider {
    @apply flex flex-none items-center justify-center border-t my-4 h-0;
    border-color: rgba(255, 255, 255, 0.06);
    color: #72767d;
}

.date-divider-text {
    @apply text-xs font-semibold px-1;
    background-color: #363a3e;
}

.message-content {
    
    overflow: hidden;
    overflow-wrap: anywhere;
}

.overlay {
    @apply fixed z-10 inset-0 overflow-y-auto;
    background-color: #2f3136;
}

.overlay-panel {
    @apply flex justify-center h-full w-full;
}

.overlay-panel-sidebar-region {
    @apply h-full flex justify-end;
    flex: 1 0 218px;
}

.overlay-panel-sidebar {
    @apply mt-14 flex flex-col;
    width: 218px;
}

.overlay-panel-content-region {
    @apply h-full;
    background-color: #36393f;
    flex: 1 1 800px;
}

.overlay-panel-content {
    @apply h-full mt-14;
    width: 800px;
}

.input-label {
    @apply text-xs font-semibold uppercase;
    color: #b9bbbe;
}

.input {
    @apply text-sm;
    background-color: rgba(0, 0, 0, .1);
    border: solid 1px rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 10px;
}

.server-image {
    @apply flex text-3xl rounded-full shadow-xl justify-center items-center;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: #5866f2;
}

.server-image > img {
    @apply w-full h-full rounded-full;
}

.text {
    @apply text-sm mb-2;
    color: #b9bbbe;
}

.button-outline {
    @apply text-white border border-white rounded-sm px-4 py-1;
}

input[type="file"] {
    display: none;
}