<div>
    <EmberTooltip @text="Create server" @side="right" @innerClass="tooltip-inner" />
    <button {{on 'click' this.createServer}} class="server-link hover:rounded" type="button">+</button>
</div>