<div class="file-attachment">
    <div>
        <FaIcon @icon="file" @size="3x" />
        <div>
            <div><a class="link" href={{this.args.attachment.url}}>{{this.args.attachment.fileName}}</a></div>
            <div>{{this.args.attachment.fileSizeBytes}}b</div>
        </div>
        <a href={{this.args.attachment.url}}><FaIcon @icon="download" @size="2x" /></a>
    </div>
</div>