<div class="channel-list">
    {{#if this.server}}
    {{#each this.server.channels as |channel|}}
    <LinkTo class="channel-link" @route="server.channel" @model={{channel._id}}>
        <FaIcon @icon="hashtag" />&nbsp;{{channel.name}}
    </LinkTo>
    {{/each}}
    {{/if}}
</div>