<div class="channel-list">
    {{#each this.channels as |channel|}}
    <Channel::Link @name={{channel.name}} @id={{channel.id}} @selected={{if (eq channel.id this.currentChannel) true false}} />
    {{/each}}
</div>