{{page-title "Invite"}}

<div class="invite min-h-full flex flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md text-center w-full space-y-8 p-4 rounded form divide-y divide-black divide-opacity-25">
        You've been invited to join
    </div>
    <div class="p-4 font-bold text-xl">
        {{@model.server.name}}
    </div>
    <div class="rounded-md shadow">
        <button {{on "click" this.joinServer}} type="button"
            class="w-full flex items-center justify-center px-8 py-3 border border-transparent rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
            Join&nbsp;<strong>{{@model.server.name}}</strong>
        </button>
    </div>
</div>